body {
    display: flex;
    justify-content: center;
   padding-top: 200px;
};



.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
  }
  
  .cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    border: 2px solid #000;
    cursor: pointer;
  }
  /* Стилі для дошки гри */
.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px; /* Відступи між клітинками */
  }
  
  .cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    border: 2px solid #000;
    cursor: pointer;
  }
  
  .cell:hover {
    background-color: #f0f0f0;
  }
  
  /* Стилі для таблиці з очками */
  .score-table {
    margin-top: 20px;
  }
  
  .score-table h2 {
    font-size: 1.5em;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  th {
    font-weight: bold;
    font-family: "Gabarito";
     
  }
  
  td {
    font-weight: normal;
  }
  
  .cell:hover {
    background-color: #f0f0f0;
  }

  .score-title {
    font-family: "Gabarito";
    font-size: 100px;
  }
  